body{
font-family:Arial, sans-serif;margin:0;
}
header{
	background:#333;
	color:white;
	padding:15px;
}
nav ul{
	display:flex;
	list-style:none;
	text-decoration:none;
}
section{
	width:400px;
	margin-top:10px;
}
footer{
	background:#333;
	color:white;
	text-align:center;
	padding:10px;
}
@media(max-width: 600px){
	nav ul{
		flex-direction:column;
	}
	.main-img{
		width:100%;
	}

	}